exportPattern("^[[:alpha:]]+")
export("%>%")
export(run_entropy)
import(ggplot2)
import(gridExtra)
import(Biobase)
import(graph)
import(BioNet)
import(entropy)
import(cluster)
import(grid)
import(princurve)
import(splines)
import(mgcv)
import(lmtest)
import(igraph)
import(tidyverse)
import(CytoTRACE)
import(SCENT)
import(AnnotationDbi)
import(org.Hs.eg.db)
import(clusterProfiler)
import(qlcMatrix)
import(Matrix)
